.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rdata
.Rproj
.Rproj.user/
data/
.pdf
.docx
.doc
.txt
.tex
Plots
.html
.pdf
.RDataTmp
wind_support_11_2016.pdf
wind_support_10_2016.pdf
wind_support.pdf
wind_support.html
Seawinds_Simon.html
